*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 20vh;
	background: black;
	background-size: cover;
	position: relative;
  overflow: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: #0033FF;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #0033FF;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

.trailer .play_button .back_trailer{
	position: relative;
	width: 100%;
	height: 545px;
}

.trailer .play_button .btn_img{
	position: absolute;
	top: 60%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
}

main{
	width: 100%;
	background-color: black;
	margin-bottom:1px;
}

.title_film .title{
	color: #0033FF;
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: serif;
	margin-left: 30px;
	padding-top:30px;
}

.title_film .short_info{
	color:#eee;
	font-size: 2rem;
	font-family: serif;
	padding-top:10px;
	padding-left: 30px;
}

.litle_rectangle{
	width: 96%;
	align-items: center;
	display: flex;
	background-color: #000033;
	margin:30px auto;
	padding:20px;
}

.litle_rectangle img{
	padding-right: 20px;
}

.litle_rectangle article{
	width: 40%;
	overflow-y: auto;
}

.litle_rectangle article p{
	overflow: auto;
	color:#eee;
	font-size: 15px;
}

.litle_rectangle article .buttons{
	padding-top: 260px;
}

.litle_rectangle article .buttons button{
	background:none;
	color:#ccc;
	width: 200px;
	height: 70px;
	border:2px solid #0033FF;
	font-size: 18px;
	border-radius:4px;
	transition: .6s;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 700;
} 

.litle_rectangle article .buttons .buy{
	margin-left: 40px;
}

.litle_rectangle article .buttons button:focus{
	outline:none
}

.litle_rectangle article .buttons button:before{
	content: '';
	display: block;
	position: absolute;
	background:rgba(255, 255, 255, .5);
}

.litle_rectangle article .buttons button:after{
	content: '';
	display: block;
	position: absolute;
	background:rgba(255, 255, 255, .2);
}

.litle_rectangle article .buttons button:hover{
	background:#0033FF;
	cursor:pointer;
}

.litle_rectangle table{
	color:#eee;
	font-size: 15px;
	width:25%;
	padding-left:20px;
	margin-top: -320px;
	height: 100%;

}

.litle_rectangle table td{
	padding-left: 20px;
}

.buy-tickets{
	width: 100%;
	height: 30vh;
	background: black;
	background-size: cover;
	position: relative;
  overflow: hidden;
}

.day_of_seans, .time_seans{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.seans{
	display: flex;
	margin:0 auto;
}

.seans li{
	list-style: none;
}

.seans li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

.seans li a:last-child{
	margin-right: 0;
}

.seans li a::before,
.seans li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #0033FF;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

.seans li a::before{
	top: 0;
	transform-origin: left;
}

.seans li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

.seans li a:hover::before,
.seans li a:hover::after{
	transform: scaleX(1);
}

a{
	text-decoration: none;
	outline: none;
}


.modal{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}

.modal_content{
	width: 75%;
	height: 65%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	border-radius: 1em;
	opacity: 0;
	visibility: hidden;
}

.modal_close{
	color: #363636;
	font-size: 2em;
	position: absolute;
	top: 0.5em;
	right: 1em;
}
 
#modal:target{
	opacity: 1;
	visibility: visible;
}

#modal:target .modal_content{
	opacity: 1;
	visibility: visible;
} 



.footer-main-div{
	width: 100%;
	height: auto;
	margin:auto;
	background:black;
	padding:25px 0px;
}

.footer-social-icons{
	width: 100%;
	height: auto;
	margin:auto;
}

.footer-social-icons ul{
	margin:0px;
	padding:0px;
	text-align: center;
}

.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin:0px 15px;
	border-radius: 100%;
	background:#fff;
}

.footer-social-icons ul li a{
	color:black;
	font-size:25px;
	display:block;
}

.footer-social-icons ul li a i{
	line-height: 50px;
}

.footer-social-icons ul li:hover{
	background:#0033FF;
}

.footer-social-icons ul li:hover a{
	color:#fff;
}

.footer-menu-one{
	width: 100%;
	height: auto;
	margin:auto;
	margin-top:25px;
}

.footer-menu-one ul{
	margin:0px;
	padding:0px;
	text-align: center;
}

.footer-menu-one ul li{
	display: inline-block;
	margin:0px 15px;
}

.footer-menu-one ul li a{
	font-family: arial;
	font-size: 15px;
	font-weight: 600;
	color:#fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.footer-menu-one ul li a:hover{
	color:#0033FF;
}

.footer-menu-two{
	width: 100%;
	height: auto;
	margin:auto;
	margin-top:15px;
}

.footer-menu-two ul{
	margin:0px;
	padding:0px;
	text-align: center;
}

.footer-menu-two ul li{
	display: inline-block;
	margin:0px 15px;
}

.footer-menu-two ul li a{
	font-family: arial;
	font-size: 15px;
	font-weight: 600;
	color:#fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.footer-menu-two ul li a:hover{
	color:#0033FF;
}

.footer-bottom{
	width: 100%;
	height: auto;
	margin:auto;
	background:#000033;
	padding:10px;
}

.footer-bottom p{
	font-family: arial;
	font-size: 14px;
	text-align: center;
	color:#fff;
	font-weight: 600;
	letter-spacing: 1px;
}

@media screen and (max-width: 1000px){
	.litle_rectangle{
		flex-direction: column;
	}
	.litle_rectangle article .buttons{
		flex-direction: column;
		padding-top: 10px;
	}
	.litle_rectangle article .buttons button{
		margin:20px;
	}
	.litle_rectangle article .buttons .buy{
		margin-left: 0px;
	}
	.litle_rectangle table{
		margin-top: 0;
	}
}